html {
    box-sizing: border-box;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;

    box-sizing: inherit;
}

#initial_panel{
    display:flex;
}

#peoplepicker{
    flex-basis: 50%;
}


#datepicker{
    flex-basis: 50%;
}