@model ReservationsIndexViewModel

<div id="initial-panel" class="bg-light">

    <form id="basic_info" class="col col-md-11 col-lg-9 col-xl-7 mx-auto px-3 px-md-0 py-1 py-md-2">
        <div class="container-fluid d-flex flex-column flex-md-row justify-content-center justify-content-md-between px-0 mb-3">

            <div id="people_picker" class="has-validation col-md-3 col my-2 my-md-0">
                <label class="form-label" for="people-select">Choose guests:</label>
                <select asp-for="Seats" id="people-select" class="form-select" onchange="loadTableList()">
                    <option disabled selected value="">Choose...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>

            <div id="date_picker" class="has-validation col-md-3 col my-2 my-md-0">
                <label class="form-label" for="date-select">Choose a date:</label>
                <input asp-for="Reservation.Date" type="date" id="date-select" class="form-control" name="trip-start" value="@DateTime.Today.ToString("yyyy-MM-dd")" min="@DateTime.Today.ToString("yyyy-MM-dd")" max="@DateTime.Today.AddDays(90).ToString("yyyy-MM-dd")" placeholder="dd-mm-yyyy" onchange="loadTableList()">
            </div>

            <div id="time_picker" class="has-validation col-md-3 col my-2 my-md-0">
                <label class="form-label" for="time-select">Choose a time:</label>
                <select required id="time-select" class="form-select" onchange="loadTableList()">
                    <option disabled selected value="">Choose...</option>
                    @for (int h = 9; h < 21; h++)
                    {
                        @for (int m = 0; m < 60; m += 15)
                        {
                            <option value="@h:@(m.ToString("D2"))">@h:@(m.ToString("D2"))</option>
                        }
                    }
                </select>
            </div>

        </div>

    </form>

</div>

<div id="table-panel"></div>