@model ReservationsTableListViewModel


<div id="table-list" class="d-flex flex-wrap-reverse flex-row justify-content-center mx-2 mt-4 mb-4" style="column-gap: 1rem; row-gap: 1.5rem;">

    <div id="table-list-start" class="align-self-end text-left list-group overflow-auto" style="width: 16rem; max-height: 34rem">
        @foreach (var table in Model.Tables)
        {
            string OccupiedDetails = table.Available ? "occupied" : "free";
            string TableNumber = table.Table.Id.ToString();
            string Seats = table.Table.Seats.ToString();

            if (table.Available)
            {
                <button type="button" asp-controller="Reservation" asp-action="ShowTableDetails" class="list-group-item list-group-item-action" disabled>@TableNumber. @OccupiedDetails table: seats @Seats</button>
            }
            else
            {
                <button type="button" asp-controller="Reservation" asp-action="ShowTableDetails" class="list-group-item list-group-item-action">@TableNumber. @OccupiedDetails table: seats @Seats</button>
            }
        }
    </div>

    <div class="align-self-center">
        <img class="img-fluid" src="../assets/layout_numbered.png" style="width: 16rem;" alt="layout" />
    </div>

</div>