@model ReservationsIndexViewModel

@{
    ViewData["Title"] = "Reservation";
}

@section Styles {
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/initial-panel.css" />
}

<main id="reservation" class="flex-shrink-0 flex-grow-1">

    <h1 class="display-4 text-center mt-4" style="font-family: 'Special Elite', cursive;">Reservations</h1>

    @await Html.PartialAsync("_Initial.cshtml", Model)

    <div id="table-panel"></div>

</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ReservationScripts.cshtml", Model);}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
