@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/css/header.css">

<main id="welcome" class="flex-shrink-0 flex-grow-1">

    <div class="mt-4 mb-5 text-center">
        <h1 class="display-4" style="font-family: 'Special Elite', cursive;">About Us</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mt-4">
                With an inventive, extensive menu and a put-you-at-ease atmosphere, Café Java emerged in 2021 as a contemporary destination for the hungry and sleep-deprived, and we’ve been savoring the fun ever since. Since our creation we’ve had the
                continued desire to create a space where casual comfort welcomes a cultivated palate — your go-to place for a quick coffee, a leisurely brunch, or simply just because. Browse our menus, see what we’re up to in the community, and always
                feel free to let us know how we’re doing.
            </p>
        </div>
    </div>

    <hr class="mx-5" />

    <div class="container my-5">
        <img class="img-fluid" src="../assets/interior.png" alt="interior" />
    </div>

    <hr class="mx-5" />

    <div class="container my-5">
        <img class="img-fluid" src="../assets/exterior.png" alt="exterior" />
    </div>

</main>