@{
    ViewData["Title"] = "Menu";
}

@section Styles {
    <link href="~/css/menu.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
}

<main id="menu" class="flex-shrink-0 flex-grow-1">

    <div class="my-4">

        <h1 class="display-4 text-center" style="font-family: 'Special Elite', cursive;">Our Menu</h1>

        <ul class="nav nav-bars text-center justify-content-center mx-2 my-3">
            <li class="nav-item border-end" style="min-width: 7rem;"><a class="nav-link link-secondary" data-bs-toggle="tab" href="#starters">Starters</a></li>
            <li class="nav-item border-end" style="min-width: 7rem;"><a class="nav-link link-secondary" data-bs-toggle="tab" href="#fish">Fish</a></li>
            <li class="nav-item border-end" style="min-width: 7rem;"><a class="nav-link link-secondary" data-bs-toggle="tab" href="#vegetarian">Vegetarian</a></li>
            <li class="nav-item border-end" style="min-width: 7rem;"><a class="nav-link text-muted" data-bs-toggle="tab" href="#meat">Meat</a></li>
            <li class="nav-item" style="min-width: 7rem;"><a class="nav-link link-secondary" data-bs-toggle="tab" href="#desserts">Desserts</a></li>
        </ul>

        <div class="tab-content">

            <div class="tab-pane active" id="starters">
                <div class="col-11 col-md-8 border rounded shadow-sm mx-auto p-4">
                    <div class="menu-item grow mb-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Home made soup of the day</h5>
                            <h6>Made from fresh local produce, served with warm bread rolls</h6>
                            <p class="mb-2 mt-auto">Price: 4,15zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/soup.jpg" alt="soup" /></div>
                    </div>
                    <div class="menu-item grow my-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Warm goat's cheese on French bread</h5>
                            <h6>Served with cracked black pepper & basil leaves</h6>
                            <p class="mb-2 mt-auto">Price: 5,15zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/warmgoat.jpg" alt="warmgoat" /></div>
                    </div>
                    <div class="menu-item grow mt-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Baby plum tomatoes and mozzarella</h5>
                            <h6>Served with cracked black pepper & basil leaves</h6>
                            <p class="mb-2 mt-auto">Price: 5,50zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/babyplum.jpg" alt="babyplum" /></div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="fish">
                <div class="col-11 col-md-8 border rounded shadow-sm mx-auto p-4">
                    <div class="menu-item grow mb-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Fish & chips</h5>
                            <h6>Check with your waiter for the fish of the day</h6>
                            <p class="mb-2 mt-auto">Price: 13,75zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/fishandchips.jpg" alt="fishandchips" /></div>
                    </div>
                    <div class="menu-item grow my-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Crispy skin sea bass</h5>
                            <h6>Served with flaked almonds and savoury cous cous, finished with lemon and herb butter sauce</h6>
                            <p class="mb-2 mt-auto">Price: 15,50zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/crispyskin.jpg" alt="crispyskin" /></div>
                    </div>
                    <div class="menu-item grow mt-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Salmon steak and tiger prawns</h5>
                            <h6>Grilled salmon steak and sauteed tiger prawns in garlic and cajun spices</h6>
                            <p class="mb-2 mt-auto">Price: 16,95zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/salmonsteak.jpg" alt="salmonsteak" /></div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="meat">
                <div class="col-11 col-md-8 border rounded shadow-sm mx-auto p-4">
                    <div class="menu-item grow mb-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Medallion of pork tenderloin</h5>
                            <h6>Topped with caramelised apples, finished with sage jus</h6>
                            <p class="mb-2 mt-auto">Price: 12,95zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/medallions.jpg" alt="medallions" /></div>
                    </div>
                    <div class="menu-item grow my-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Grilled rib eye steak</h5>
                            <h6>With a creamy red wine and green peppercorn sauce, served with potato rosti</h6>
                            <p class="mb-2 mt-auto">Price: 16,50zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/steak.jpg" alt="steak" /></div>
                    </div>
                    <div class="menu-item grow mt-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Trio of double boned lamb cutlets</h5>
                            <h6>Served with mint gravy</h6>
                            <p class="mb-2 mt-auto">Price: 16,50zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/triolamb.jpg" alt="triolamb" /></div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="vegetarian">
                <div class="col-11 col-md-8 border rounded shadow-sm mx-auto p-4">
                    <div class="menu-item grow mb-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Stir fried egg noodles</h5>
                            <h6>Served with fine vegetable ragout, drizzled with soya sauce</h6>
                            <p class="mb-2 mt-auto">Price: 11,75zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/stirfried.jpg" alt="stirfried" /></div>
                    </div>
                    <div class="menu-item grow my-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Mediterranean vegetables</h5>
                            <h6>Roast Mediterranean vegetables on a bed savoury basmati rice</h6>
                            <p class="mb-2 mt-auto">Price: 11,95zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/mediterraneanveggies.jpg" alt="mediterraneanveggies" /></div>
                    </div>
                    <div class="menu-item grow mt-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Porcini ravioli</h5>
                            <h6>Pasta envelopes filled with porcini mushrooms, served with basil pesto and extra virgin olive oil</h6>
                            <p class="mb-2 mt-auto">Price: 13,25zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/porciniravioli.jpg" alt="porciniravioli" /></div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="desserts">
                <div class="col-11 col-md-8 border rounded shadow-sm mx-auto p-4">
                    <div class="menu-item grow mb-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Gateau of the day</h5>
                            <h6>Please ask the waiter for today's choices</h6>
                            <p class="mb-2 mt-auto">Price: 4,15zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/" alt="gateau" /></div>
                    </div>
                    <div class="menu-item grow my-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Greek yoghurt dessert</h5>
                            <h6>Strained Greek yoghurt with honey and wainuts drizzled with raspberry coulis</h6>
                            <p class="mb-2 mt-auto">Price: 5,45zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/yogurtdessert.jpg" alt="yogurtdessert" /></div>
                    </div>
                    <div class="menu-item grow mt-2">
                        <div class="d-flex flex-column justify-content-center my-auto" style="min-height:7rem">
                            <h5>Trio of assorted ice cream</h5>
                            <h6>Please ask your waiter or waitress for the selection available today</h6>
                            <p class="mb-2 mt-auto">Price: 4,35zł</p>
                        </div>
                        <div class="my-auto"><img class="img rounded float-end ms-3" src="~/assets/trioicecream.jpg" alt="trioicecream" /></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>