.menu-item:hover {
    transform: scale(1.025);
}

.grow {
    transition: all .2s ease-in-out;
}

.menu-item {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.img {
    height: 5.5rem;
    width: 5.5rem;
}