.menu-item:hover {
    transform: scale(1.05);
}

.grow {
    transition: all .2s ease-in-out;
}

.menu-item {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

img {
    height: 75px;
    width: 75px;
}